#base {
	position: absolute;
	top: 40px;
	left: 30px;
	width: 690px;
	height: 460px;

	background: rgba(0, 0, 0, 0.6);
	outline: 6px solid rgba(0, 0, 0, 0.3);
	outline-offset: -6px;

	z-index: 0;
	cursor: move;
}

#stickWrapper {
	width: 210px;
	height: 210px;
	position: absolute;
	top: 60px;
	left: 60px;
	background-image: url("../images/gate_strive.svg");
	background-size: cover;
	background-repeat: no-repeat;
	cursor: move;
	z-index: 1;
}

#stickCanvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 0
}

.joystickHead {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(64, 64, 64, 1);
	color: #000;
	box-shadow: 0 1px 0px 4px rgba(0, 0, 0, 1);
	font-size: 30px;
	font-weight: bold;
	z-index: 4;
	pointer-events: none
}

#directionMarkers {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1
}

.marker {
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.08);
	z-index: 1;
	transform: translate(-50%, -50%);
	transition: all .08s;
	display: none;
}

.marker.active {
	background: rgba(255, 255, 255, 1)
}

.btn {
	position: absolute;
	width: 90px;
	height: 90px;
	display: flex;
	background: rgba(48, 48, 48, 1);
	filter: brightness(1);
	align-items: center;
	justify-content: center;
	font-size: 44px;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	transition: 0.05s;
	border-radius: 50%;
	outline: 4px solid rgba(255, 255, 255, 0.18);
	outline-offset: -4px;
	box-shadow: 0 0px 0px 4px rgba(0, 0, 0, 1);
	color: #eee;
	cursor: pointer;
	z-index: 2;
}

.btn.active {
	filter: brightness(2.0);
	transform: scale(1.08);
	z-index: 3;
}

.btn.selected {
	box-shadow: 0px 0px 0px 4px rgba(40, 40, 45, 1);
	z-index: 3;
}

.btn {
	background-image: none;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.btn-edit {
	font: inherit;
	color: inherit;
	background: none;
	border: none;
	padding: 0px;
	margin: 0px;
	outline: none;
	width: 100%;
}

.selectedOutline {
	box-shadow: 0 0px 0 4px rgba(40, 40, 45, 1) inset
}

/* placement (original positions) */
.btn[data-btn="Up"] {
	top: 270px;
	left: 300px;
	background-image: url("../images/up.svg")
}

.btn[data-btn="Down"] {
	top: 270px;
	left: 400px;
	background-image: url("../images/down.svg")
}

.btn[data-btn="Left"] {
	top: 270px;
	left: 500px;
	background-image: url("../images/left.svg")
}

.btn[data-btn="Right"] {
	top: 270px;
	left: 600px;
	background-image: url("../images/right.svg")
}

.btn[data-btn="A"] {
	top: 170px;
	left: 300px
}

.btn[data-btn="B"] {
	top: 170px;
	left: 400px
}

.btn[data-btn="X"] {
	top: 70px;
	left: 300px
}

.btn[data-btn="Y"] {
	top: 70px;
	left: 400px
}

.btn[data-btn="LB"] {
	top: 70px;
	left: 600px
}

.btn[data-btn="RB"] {
	top: 70px;
	left: 500px
}

.btn[data-btn="LT"] {
	top: 170px;
	left: 600px
}

.btn[data-btn="RT"] {
	top: 170px;
	left: 500px
}

.btn[data-btn="LS"] {
	top: 370px;
	left: 300px;
	font-size: 36px;
	z-index: 4;
}

.btn[data-btn="RS"] {
	top: 370px;
	left: 400px;
	font-size: 36px;
	z-index: 4;
}

.btn[data-btn="View"] {
	top: 370px;
	left: 500px;
	font-size: 20px
}

.btn[data-btn="Menu"] {
	top: 370px;
	left: 600px;
	font-size: 20px
}

#base,
#stickWrapper,
.btn {
	transition: filter 0.1s ease-out, top 0.05 ease-in, left 0.05 ease-in, width 0.03 east, height 0.03 ease;
}

#base:hover,
#stickWrapper:hover,
.btn:hover {
	filter: brightness(2.0);
	outline: 4px solid white;
}
