	#toast {
	  font-size: 20px;
	  position: fixed;
	  left: 50%;
	  bottom: 10px;
	  transform: translate(-50%, 0) scale(0);
	  background: rgba(0, 0, 0, 0.85);
	  padding: 10px 20px;
	  z-index: 10000;
	  transition: transform 0.1s ease;
	  
	  display: inline-block;
	  max-width: 90%;
	  white-space: nowrap;	  
	  text-align: center;
	}